* {
  font-family: "Lato", "Lucida Grande", sans-serif, Arial, Tahoma;
}
select {
  font-size: 14pt;
}

table {
  border-spacing: 0px; /* normalize.css handles the rest*/
}

.blk {
  display: block;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.fl {
  float: left;
}

.ctm {
  margin-left: auto;
  margin-right: auto;
}

.ctx {
  text-align: center;
}

.rtt {
  text-align: right;
}

.lbw { /* white label text */
  color: #ffffff;
}

.hide {
  display: none;
}

.mg0 {
  margin: 0;
}

.mg16l {
  margin-left: 16px;
}

.mg16r {
  margin-right: 16px;
}

.mg16t {
  margin-top: 16px;
}

.mg16b {
  margin-bottom: 16px;
}

.mg8t {
  margin-top: 8px;
}

.mg8b {
  margin-bottom: 8px;
}

.vgap1 {
  margin-bottom: 40px;
}

.bkgd-orange {
  background-color: #f4c315;
}

.bkgd-lime {
  background-color: #a3d415;
}

.nm-alert {
  width: 40%;
  border-radius: 2px;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fxd {
  position: fixed;
}

.pd16l {
  padding-left: 16px;
}
.pd16t {
  padding-top:16px;
}
.pd16r {
  padding-right: 16px;
}
.pd16b {
  padding-bottom: 16px;
}
.pd8b {
  padding-bottom: 8px;
}
.pd2t {
  padding-top: 2px;
}

.med-form input {
  border: 1px solid #797979;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 200;
  padding: 8px 15px;
  width: 360px;
  color: #176299;
}

.med-form h1 {
  color: #595959;
}

.med-form input[type=submit] {
  border: 1px solid #3498db;
  color: #ffffff;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 200;
  padding: 8px 15px;
  width: 360px;
  background-color: #3498DB;
  cursor: pointer;
}

.med-form select {
  width: 360px;
  padding: 5px 3px 5px 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 10px;
  height: 38px;
}

.med-form td:first-child {
  color: #797979;
  text-align: right;
}

.med-form td {
  padding: 8px 16px;
}

.xs-btn {
  text-align: center;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 200;
  padding: 2px 12px;
}

.med-btn {
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 200;
  padding: 4px 0;
}

.big-btn {
  text-align: center;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
}

.frame-red {
  border: 1px solid #e91765;
  color: #e91765;
}

.frame-red:hover {
  background-color: #e91765;
  color: #ffffff;
}

.frame-blue {
  border: 1px solid #3498DB;
  color: #3498DB;
}

.frame-blue:hover {
  background-color: #3498DB;
  color: #ffffff;
}

.trans {
  background-color: transparent;
}

.action1 {
  width: 240px;
}
.action2 {
  width: 160px;
}
.action3 {
  width: 360px;
}

.action4 {
  width: 120px;
}

.fake-link {
  color: #224499;
  text-decoration: underline;
}

.preview text.sample {
  fill: #000000;
  dominant-baseline: text-before-edge;
  font-size: 12pt;
}

.data-sheet {
  border-spacing: 1px 0px;
}

.data-sheet td {
  padding: 12px 12px;
}

.data-sheet tr.odd {
  background-color: #f0f0f0;
}

.data-sheet tr.even {
  background-color: #e2e2e2;
}

.data-header {
  background-color: #176299;
  color: #e9e9e9;
}

.preview text.ft-family {
  text-anchor: end;
  dominant-baseline: middle;
  fill: #797979;
  font-size: 8pt;
  opacity: 1;
}

.numb {
  pointer-events: none;
}

.clickable {
  cursor: pointer;
}

.anchor {
  width: 8px;
  height: 8px;
  border: 1px solid #797979;
  background-color: #ffffff;
}

.bdtg0 {
  border-top: 1px solid #e2e2e2;
}

.arrow-frame {
  width: 32px;
  height: 32px;
}

.arrow-up {
  background-image: url("../img/up_arrow.gif");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px 12px;
}

.arrow-down {
  background: url("../img/down_arrow.gif") right 12px center/12px 12px no-repeat;
}

.arrow-non {
  background-image: none;
}
