* {
  font-family: "Lato", "Lucida Grande", sans-serif, Arial, Tahoma;
}
select {
  font-size: 14pt;
}

table {
  border-spacing: 0px; /* normalize.css handles the rest*/
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.ctm {
  margin-left: auto;
  margin-right: auto;
}

.ctx {
  text-align: center;
}

.rtt {
  text-align: right;
}

.lbw { /* white label text */
  color: #ffffff;
}

.hide {
  display: none;
}

.mg0 {
  margin: 0;
}

.mg16l {
  margin-left: 16px;
}

.mg16t {
  margin-top: 16px;
}

.mg16b {
  margin-bottom: 16px;
}

.mg8t {
  margin-top: 8px;
}

.mg8b {
  margin-bottom: 8px;
}

.bkgd-orange {
  background-color: #f4c315;
}

.bkgd-lime {
  background-color: #a3d415;
}

.nm-alert {
  width: 40%;
  border-radius: 2px;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fxd {
  position: fixed;
}

.pd16l {
  padding-left: 16px;
}
.pd16t {
  padding-top:16px;
}
.pd16r {
  padding-right: 16px;
}
.pd16b {
  padding-bottom: 16px;
}
.pd8b {
  padding-bottom: 8px;
}

.fake-link {
  color: #224499;
  text-decoration: underline;
}

.preview text.sample {
  fill: #000000;
  dominant-baseline: text-before-edge;
  font-size: 12pt;
}

.preview text.ft-family {
  text-anchor: end;
  dominant-baseline: middle;
  fill: #797979;
  font-size: 8pt;
  opacity: 1;
}

.numb {
  pointer-events: none;
}

.clickable {
  cursor: pointer;
}

.anchor {
  width: 8px;
  height: 8px;
  border: 1px solid #797979;
  background-color: #ffffff;
}

.bdtg0 {
  border-top: 1px solid #e2e2e2;
}
