* {
box-sizing: border-box;
}

body {
  padding: 0px;
  margin:0;
}
 
*:focus {
	outline: none;
}

.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}
 
.app-title {
text-align: center;
color: #777;
}
 
.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 360px;
  transition: border .5s;
}

.w360 {
  width: 360px;
}

.frame-w {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

input[type=submit] {
  background-color: #93E513;
}
 
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}
 
.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}
 
.btn:hover {
  background-color: #2980B9;
}
 
.login-link {
  font-size: 12px;
  color: #444;nt
  display: block;
	margin-top: 12px;
}

.error {
  color: #E5E512;
  font-size: 12pt;
}

form input {
  margin-left: 16px;
}

.reg-lighter {
  background-color: #3498DB;
}

.reg-darker {
  background-color: #176299;
}

.login-sel {
    padding: 5px 3px 5px 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 10px;
    height: 42px;
    font-size: 16px;
    font-weight: 200;
}
