<!DOCTYPE html>
<html ng-app="p0">
<title>Home for Administrators</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<!-- Navbar -->
<div class="" ng-controller="NavCtrl">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#point_list" class="w3-bar-item w3-button w3-padding-large">Hi, Boss!</s>
    <!-- <a ng-click="goto('/')" class="w3-bar-item w3-button w3-padding-large w3-hide-small">[old]View Pending Data Points</a> -->
    <a ng-click="goto('/pt2')" class="w3-bar-item w3-button w3-padding-large w3-hide-small">View Pending Data Points</a>
    <a ng-click="goto('officials')" class="w3-bar-item w3-button w3-padding-large w3-hide-small">View Pending City Offical Accounts</a>
    <a href="/api/logout" class="w3-bar-item w3-padding-large w3-hover-red w3-hide-small w3-right">Logout</a>
  </div>
</div>

<!-- Page content -->
<ng-view ng-class="{w100: true}"></ng-view>


<!-- End Page Content -->

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Built on <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script type="text/ng-template" id="/points.html">
  <h2 class="ctx">Pending data points</h2>
  <p ng-show="points.length == 0">There is no pending data points for now. Come back later! </p>
  <div ng-show="points.length > 0" ng-class="{'w100':true}">
    <table>
      <tr>
        <td ng-click="switch_sort('LocName')">PIO location</td>
        <td ng-click="switch_sort('DataType')">Data type</td>
        <td ng-click="switch_sort('DataValue')">Data value</td>
        <td ng-click="switch_sort('ts4sort')">Time &amp; date of data reading</td>
        <td>Actions</td>
      </tr>
      <tr ng-repeat="p in points | orderBy:sort_field:sort_reverse">
        <td>{{p.LocName}}</td>
        <td>{{p.DataType}}</td>
        <td>{{p.DataValue}}</td>
        <td>{{p.DateTime}}</td>
        <td>
          <button ng-click="mark(p, true)" ng-show="p.Status==-1">Accept</button>
          <button ng-click="mark(p, false)" ng-show="p.Status==-1">Reject</button>
          <span ng-show="p.Status > -1">{{p.Status == 1? 'Accepted' : 'Rejected'}}</span>
        </td>
      </tr>
    </table>
  </div>
</script>
<script type="text/ng-template" id="/point_alt.html">
  <h2 class="ctx">Pending data points</h2>
  <p ng-show="points.length == 0">There is no pending data points for now. Come back later! </p>
  <div ng-show="points.length > 0" ng-class="{'w100':true}">
    <table class="ctm data-sheet w100">
      <tr class="data-header">
        <td><input ng-change="select_all()" ng-model="all_mark" type="checkbox" value="Select/Deselect All"/></td>
        <td ng-click="switch_sort('LocName')" class="clickable" ng-class="eval_sc('LocName')">PIO location</td>
        <td ng-click="switch_sort('DataType')" class="clickable" ng-class="eval_sc('DataType')">Data type</td>
        <td ng-click="switch_sort('DataValue')" class="clickable" ng-class="eval_sc('DataValue')">Data value</td>
        <td ng-click="switch_sort('ts4sort')" class="clickable" ng-class="eval_sc('ts4sort')">Time &amp; date of data reading</td>
      </tr>
      <tr ng-repeat="p in points | orderBy:sort_field:sort_reverse" ng-class-odd="'odd'" ng-class-even="'even'">
        <td>
          <input type="checkbox" ng-model="p.marked"/>
          <span ng-show="p.Status > -1">{{p.Status == 1? 'Accepted' : 'Rejected'}}</span>
        </td>
        <td>{{p.LocName}}</td>
        <td>{{p.DataType}}</td>
        <td>{{p.DataValue}}</td>
        <td>{{p.DateTime}}</td>
      </tr>
      <tr><td colspan="5">
        <center class="mg16t mg16b">
          <button class="med-btn action1 frame-blue trans clickable mg16r" ng-click="mark_selected(true)">Accept</button>
          <button class="med-btn action1 frame-red trans clickable mg16l" ng-click="mark_selected(false)">Reject</button>
        </center>
      </td></tr>
    </table>
  </div>
</script>
<script type="text/ng-template" id="/officials.html">
  <h2 class="ctx">Pending City Official Accounts</h2>
  <p ng-show="accounts.length == 0">There is no pending accounts for now. Come back later! </p>
  <table ng-show="accounts.length > 0" class="data-sheet w100">
    <tr class="data-header">
      <td>Username</td><td>Email</td><td>City</td><td>State</td><td>Title</td><td>Actions</td>
    </tr>
    <tr ng-repeat="a in accounts" ng-class-odd="'odd'" ng-class-even="'even'">
      <td>{{a.UserName}}</td><td>{{a.EmailAddress}}</td><td>{{a.City}}</td>
      <td>{{a.State}}</td><td>{{a.Title}}</td>
      <td><center>
        <button ng-click="mark(a, true)" ng-show="a.Status==-1" class="frame-blue trans xs-btn mg16r action4">Accept</button>
        <button ng-click="mark(a, false)" ng-show="a.Status==-1" class="frame-red trans xs-btn mg16l action4">Reject</button>
        <span ng-show="a.Status > -1">{{a.Status == 1? 'Accepted' : 'Rejected'}}</span>
      </center></td>
    </tr>
  </table>
</script>
<!-- add angular 1.2.x -->
<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="js/admin.js"></script>
</body>
</html>
