<!DOCTYPE html>
<html ng-app="p4">
<head>
  <link rel="stylesheet" href="/static/css/common.css" type="text/css">
  <link rel="stylesheet" href="/static/css/login.css" type="text/css">
</head>
<body>
  <!-- Page content -->
  <ng-view ng-class="{'w100': true}"></ng-view>
  
  <script type="text/ng-template" id="/default.html">
    <table class="ctm"><tr><td>
      <form action="/api/login" method="POST">
        <input type="username" name="username" placeholder="Username" class="mg16b">
        <br/>
        <input type="password" name="password" placeholder="Password" class="mg16b">
        <br/>
        <input type="submit" value="Log in">
      </form>
      </td></tr><tr><td>
      <button ng-class="btn" ng-click="goto('/register')">Register</button>
      </td></tr>
    </table>
  </script>
  <script type="text/ng-template" id="/register.html">
    <div id="add_point_pack" class="ctm">
    <h1 class="ctx">Register for free</h1>
    <form name="reg_form" ng-submit="save_user()">
      <table class="ctm" style="width: 70%">
        <tr>
          <td class="rtt lbw">User name</td>
          <td class="pd16b"><input ng-model="u.username" type="text" placeholder="Please use letters, digits and '_' only, no space"></input></td>
        </tr>
        <tr>
          <td class="rtt lbw">Email</td>
          <td class="pd16b">
            <input ng-model="u.email" name="email" type="email" placeholder="Something like john@google.com" required></input>
            <span class="error pd16l" ng-show="reg_form.email.$error.email">This does not look like a valid email:(</span>
          </td>
        </tr>
        <tr>
          <td class="rtt lbw">Choose a password</td>
          <td class="pd16b"><input ng-model="u.password" ng-required name="password1" type="password" placeholder="Type something complicated"></input></td>
        </tr>
          <td class="rtt lbw">Confirm password</td>
          <td class="pd8b">
            <input ng-model="u.conf_pwd" type="password" name="conf_pwd" ng-required placeholder="Type something equally complicated"></input>
            <span ng-show="u.password != u.conf_pwd">Passwords do not match:(</span>
          </td>
        <tr>
          <td class="rtt lbw">Type of account</td>
          <td>
            <select class="mg16l mg8t mg8b" ng-model="u.type" ng-options="l.v as l.n for l in acc_types"></select>
          </td>
        </tr>
        <!-- More fields for city officials-->
        <tr ng-show="u.type=='official'">
          <td class="rtt lbw">City</td>
          <td><select class="mg16l mg8b mg8t" ng-model="u.city" ng-options="c as c for c in cities" ng-change="opt_states()"></select></td></tr>
        </tr>
        <tr ng-show="u.type=='official'">
          <td class="rtt lbw">State</td>
          <td><select class="mg16l mg8b mg8t" ng-model="u.state" ng-options="s as s for s in states" ng-change="opt_cities()"></select></td></tr>
        </tr>
        <tr ng-show="u.type=='official'">
          <td class="rtt lbw">Title</td>
          <td><input class="mg8b mg8t" ng-model="u.title" type="text" placeholder=""></td>
        </tr>
        <tr>
          <td><button ng-click="goto('/')">Go back to Login</button></td>
          <td><input class="mg8t" type="submit" value="Register"/></td>
        </tr>
      </table>
    </form>
    <p class="ctx nm-alert ctm" ng-class="(succ == 0)? 'bkgd-lime':'bkgd-orange'">{{msg}}</p>
    </div>
  </script>

  <!-- add angular 1.2.x -->
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script src="lib/angular-route.min.js"></script>
  <script src="js/login.js"></script>
</body>
</html>
