<!DOCTYPE html>
<html ng-app="p1">
<title>Home for Officials</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<!-- Navbar -->
<div class="" ng-controller="NavCtrl">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#point_list" class="w3-bar-item w3-button w3-padding-large">Hi, there!</s>
    <a ng-click="goto('/')" class="w3-bar-item w3-button w3-padding-large w3-hide-small">View POIs</a>
    <a ng-click="goto('report')" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Generate Report</a>
    <a href="/api/logout" class="w3-bar-item w3-padding-large w3-hover-red w3-hide-small w3-right">Logout</a>
  </div>
</div>

<!-- Page content -->
<ng-view ng-class="{w100: true}"></ng-view>


<!-- End Page Content -->

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script type="text/ng-template" id="/locations.html">
  <div class="w100 vgap1" ng-controller="LocationListCtrl">
    <div id="filter_pack" class="vgap1">
    <h2 class="ctx">View POIs</h2>
    <table class="ctm med-form">
      <tr>
        <td>POI location name</td>
        <td>
          <select ng-model="f.name" ng-options="l.LocationName as l.LocationName for l in locations"></select>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td><select ng-model="f.city" ng-options="City as City for City in cities" ng-change="id2state()"></select></td></tr>
      </tr>
      <tr>
        <td>State</td>
        <td><select ng-model="f.state" ng-options="State as State for State in states" ng-change="id2city()"></select></td></tr>
      <tr><td>Zip code</td><td><input type="text" ng-model="f.zip"/></td></tr>
      <tr><td>Flagged? </td><td><input type="checkbox" ng-model="f.flagged"/></td></tr>
      <tr>
        <td>Date Flagged</td>
        <td>
          <input type="date" id="flag_date_start" name="input" ng-model="f.start"
            placeholder="mm/dd/yyyy" min="01/01/1800" max="12/31/2999" required />
        </td>
      </tr>
      <tr>
        <td>To</td>
        <td>
          <input type="date" id="flag_date_end" name="input" ng-model="f.end"
            placeholder="mm/dd/yyyy" min="01/01/1800" max="12/31/2999" required />
        </td>
      </tr>
      <tr>
        <td><button ng-click="reset()" class="trans frame-red action2 med-btn clickable">Reset Filter</button></td>
        <td><button ng-click="filter()" class="trans frame-blue action3 med-btn clickable">Apply Filter</button></td>
      </tr>
    </table>
    </div>
    <div id="location_list" ng-show="filtered.length > 0">
      <table class="data-sheet ctm w100">
        <tr class="data-header">
          <td>Location name</td> <td>City</td> <td>State</td> <td>Zip code</td>
           <td>Flagged? </td> <td>Date Flagged</td>
        </tr>
        <tr ng-repeat="l in filtered" ng-click="inspect(l)" class="clickable"  ng-class-odd="'odd'" ng-class-even="'even'">
          <td>{{l.name}}</td>
          <td>{{id_city(l.city)}}</td>
          <td>{{id_state(l.state)}}</td>
          <td>{{l.zip}}</td>
          <td>{{l.flagged? 'yes' : 'no'}}</td> <td>{{l.flag || ''}}</td>
        </tr>
      </table>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/detail.html">
  <p>POI location: {{f.name}}</p>
  <h2 class="ctx">POI Detail</h2>
  <div class="w3-right" ng-show='f.flagged'>
    <img alt="Flag" src="img/flag.svg" width="64" height="64"></img>
  </div>
  <table class="ctm med-form vgap1">
    <tr>
      <td>Type</td>
      <td><select ng-model="f.attr" ng-options="t as t for t in types"></select></td>
    </tr>
    <tr>
      <td>Data Value</td>
      <td>
        <input ng-model="f.from" type="number"/>
        <span> to </span>
        <input ng-model="f.to" type="number"/>
      </td>
    </tr>
    <tr>
      <td>Time &amp; date</td>
      <td>
        <input type="datetime-local" id="flag_date_start" name="input" ng-model="f.start"
          placeholder="mm/dd/yyyy" min="01/01/1000" max="12/31/9999" required />
        <span> to </span>
        <input type="datetime-local" id="flag_date_end" name="input" ng-model="f.end"
          placeholder="mm/dd/yyyy" min="01/01/1000" max="12/31/9999" required />
      </td>
    </tr>
    <tr>
      <td><button ng-click="reset()" class="trans frame-red action2 med-btn clickable">Reset Filter</button></td>
      <td><button ng-click="filter()" class="trans frame-blue action3 med-btn clickable">Apply Filter</button>
      <button ng-click="flag()" class="trans frame-blue action3 med-btn clickable">Flag</button></td>
    </tr>
  </table>
  <div ng-show="filtered.length > 0">
    <table class="data-sheet ctm w100">
      <tr class="data-header"><td>Data type</td><td>Data value</td><td>Time &amp; dat of data reading</td></tr>
      <tr ng-repeat="p in filtered" ng-class-odd="'odd'" ng-class-even="'even'">
        <td>{{p.attr}}</td>
        <td>{{p.val}}</td>
        <td>{{p.ts}}</td>
      </tr>
    </table>
  </div>
  <!-- <button ng-click="goto('/')">Back</button>
  <button ng-click="flag()">flag</button> -->
</script>
<script type="text/ng-template" id="/report.html">
  <h2 class="ctx">POI Report</h2>
  <table class="data-sheet ctm w100">
    <tr class="data-header clickable">
      <td ng-class="eval_sc('name')" ng-click="switch_sort('name')">PIO location</td>
      <td ng-class="eval_sc('city')" ng-click="switch_sort('city')">City</td>
      <td ng-class="eval_sc('state')" ng-click="switch_sort('state')">State</td>
      <td ng-class="eval_sc('min_mold')" ng-click="switch_sort('min_mold')">Mold Min</td>
      <td ng-class="eval_sc('avg_mold')" ng-click="switch_sort('avg_mold')">Mold Avg</td>
      <td ng-class="eval_sc('max_mold')" ng-click="switch_sort('max_mold')">Mold Max</td>
      <td ng-class="eval_sc('min_aq')" ng-click="switch_sort('min_aq')">AQ Min</td>
      <td ng-class="eval_sc('avg_aq')" ng-click="switch_sort('avg_aq')">AQ Avg</td>
      <td ng-class="eval_sc('max_aq')" ng-click="switch_sort('max_aq')">AQ Max</td>
      <td ng-class="eval_sc('num_points')" ng-click="switch_sort('num_points')"># of data points</td>
      <td ng-class="eval_sc('flag')" ng-click="switch_sort('flag')">Flagged?</td>
    </tr>
    <tr ng-repeat="i in items | orderBy:sort_field:sort_reverse" ng-class-odd="'odd'" ng-class-even="'even'">
      <td>{{i.name}}</td><td>{{i.city}}</td><td>{{i.state}}</td>
      <td>{{i.min_mold || ''}}</td><td>{{i.avg_mold || ''}}</td><td>{{i.max_mold || ''}}</td>
      <td>{{i.min_aq || ''}}</td><td>{{i.avg_aq || ''}}</td><td>{{i.max_aq || ''}}</td>
      <td>{{i.num_points || ''}}</td><td>{{i.flag? 'yes': 'no'}}</td>
    </tr>
  </table>
</script>
<!-- add angular 1.2.x -->
<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="js/official.js"></script>
</body>
</html>
